* {
    box-sizing: border-box;
}

body {
    background: #000;
    padding: 0;
    margin: 0;
}

section {
    position: relative;
    width: 100vw;
}

h2 {
    font-size: 50px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    color: #ffe5db;
}

p {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 8px 0;
}